@font-face {
    font-family: 'lisfont' ;
    src: url('../../fonts/Pixellari.ttf') format('truetype');
    font-style: normal;
}

.container{
    @apply h-full w-full flex flex-row 
}


.logosContainer{
    @apply flex items-center justify-center min-w-[300px] max-w-[500px] mt-6;
}

/* .sistemaslogoContainer{
    @apply flex justify-end w-1/2 h-24;
}

.udealogoContainer{
    @apply flex justify-start  w-1/2 h-24;
} */


.formContainer{
    @apply flex flex-col h-full w-full items-center justify-center;
    background-image: url('/images/login-background.png');
}

.formContainerTwo{
    @apply flex flex-col rounded-xl backdrop-blur-xl py-8 h-2/4 w-[90%] max-w-[500px] items-center justify-center;

    background:  rgba(255,255,255,0.30);
    box-shadow: 0 8px 32px 0 rgba(185, 187, 186, 0.182);
   

}
.tipografyLogo{
    @apply font-bold text-[42px] mt-1 text-[#112E4A];
    font-family: 'lisfont';

}
.spinnerContainer{
    @apply flex  items-center justify-center;
}

.userIconContainer{
    @apply px-[0.3rem] py-[0.2rem] rounded-3xl;
   
}

.userIcon{
    @apply mb-1 text-2xl;
    color: var(--color-green3);
}

.welcome{
    @apply font-medium text-2xl mb-4;
}

.label{
    @apply  text-base text-[1.2rem] font-medium text-[#666687];
}

.form{
    @apply my-1 space-y-4 w-[90%];
}

.formSection{
    @apply my-3;
}

  
