.container{
    @apply h-full w-full flex flex-row 
}


.logosContainer{
    @apply flex items-center w-1/2 mt-6;
}

.sistemaslogoContainer{
    @apply flex justify-end w-1/2 h-24;
}

.udealogoContainer{
    @apply flex justify-start  w-1/2 h-24;
}


.formContainer{
    @apply flex flex-col h-full w-full items-center justify-center;
    background-image: url('/images/login-background.png');
}

.formContainerTwo{
    @apply flex flex-col backdrop-blur-xl py-8 h-auto w-2/6 items-center justify-center;
    border-radius: 10px;
    background:  rgba(255,255,255,0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   

}


.userIconContainer{
    @apply px-[0.3rem] py-[0.2rem] rounded-3xl;
   
}

.userIcon{
    @apply mb-1 text-2xl;
    color: var(--color-green3);
}

.welcome{
    @apply font-medium text-2xl mb-4;
}

.label{
    @apply mt-3 text-base text-[#666687];
}

.form{
    @apply my-1  w-2/4;
}

.formSection{
    @apply my-3;
}

  
