@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root{
    --color-green1: #026937;
    --color-green3: #43B649;
    --color-background: #E7ECEF;
    --color-text: #444444;
    --color-red: #C62D2D;
}